html {
  height: 100%;
}

body {
  height: 100%;
  padding-top: 50px;
}

.container {
    width:100%;
    padding: 0px 5% 0px 5%;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.middle td, .middle th{
    text-align: center;
    width: 20%;
}

.middle_2 td{
    text-align: center;
    width: 14%;
}

.saved-successfully {
  display:none;
  padding:10px;
  background-color:#0b0;
  color:white
}
